div.tooltipSunwheel
{
	width      :256px;
	height     :256px;
	
	background-repeat: no-repeat;
	background-size: 256px 256px;
}

div.subpanelWrapper div.arcEnvironment
{
    background-size: 100%;
    background-position: 50% 50%;
}

div.arcVisualizerToggle
{
	position:absolute;
	
	right :  8px;
	top   :calc(50% - 63px);
	
	width : 42px;
	height:126px;
}

div.arcVisualizerToggle div.avtButtonFirst,
div.arcVisualizerToggle div.avtButton,
div.arcVisualizerToggle div.avtButtonLast
{
	width  :32px;
	height :32px;
	padding: 5px;
	float  :left;
	
	pointer-events: all;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
}

div.arcVisualizerToggle div.avtButtonFirst
{
    border-radius: 42px 42px 0px 0px;
}

div.arcVisualizerToggle div.avtButtonLast
{
    border-radius: 0px 0px 42px 42px;
}